<!DOCTYPE html>
<html>
<body>

<h2>Robô de DARs</h2>
Envie um arquivo excel com a lista de inscrições a serem consultadas.<br><br>
1. Envie um arquivo excel com a célula A1=Inscrições<br>
2. Clique em consultar<br><br>

<div id="successMessage" style="display: true;">
  Arquivo enviado com sucesso! Clique em "Consultar" para continuar.
</div><br>

<!-- Botão de consulta -->
<form id="consultForm" action="scrap/" method="get" style="display: true;">
  <input type="submit" value="Consultar">
</form>

</body>
</html>
